h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
}

body {
  font-family: Poppins;
  background: #fafbff;
}
.container {
  width: 320px;
  height: 100%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    height: 100%;
    display: flex;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .container {
    width: 1440px;
    height: 100%;
    display: flex;
    margin: 0 auto;
  }
  body {
    display: flex;
  }
}
.link {
  text-decoration: none;
}
/* PAGINATION */
.pagination-wrapper {
  display: block;
  justify-content: space-between;

  text-align: center;
  margin-top: 32px;
  color: #b5b7c0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
}
.paginationjs-pages > ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.paginationjs-pages > ul > li {
  display: inline-flex;
  padding: 6px 9px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #eee;
  background: #f5f5f5;
  color: #404b52;
  font-size: 12px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.12px;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.paginationjs-pages > ul > li:hover,
.paginationjs-pages > ul > li:focus {
  border: 1px solid #5932ea;
  background: #5932ea;
  color: white;
}

/* HEADER */

.burger-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 15px;
  width: 35px;
  top: 35px;
}

.burger-close {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 20px;
}
.svg {
  stroke: black;
}
.header {
  padding: 37px 28px;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  display: none;
  background-color: white;
}

@media (min-width: 1440px) {
  .header {
    display: block;
    width: 306px;
    position: relative;
  }
  .burger-button {
    display: none;
  }
  .burger-close {
    display: none;
  }
  .open {
    display: block;
  }
}
.header-logo {
  display: flex;
  width: 200px;
  align-items: center;
  gap: 8px;
  margin-bottom: 65px;
  color: #000;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: 0.26px;
}

.header-navigation {
  display: flex;
  flex-direction: column;
  margin-bottom: 700px;
}

.header-navigation-item {
  display: flex;
  align-items: center;
  gap: 14px;
  padding: 13px 11px;
  width: 100%;
  position: relative;
  color: #9197b3;
  border-radius: 8px;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
@media (min-width: 1440px) {
  .header-navigation-item {
    width: 250px;
  }
}
.header-navigation-item:hover,
.header-navigation-item:focus {
  background-color: rgb(151, 123, 252);
  color: white;
}
.active-navigation-link {
  background-color: #5932ea;
  color: white;
}
.header-navigation-item > svg,
.header-navigation-item > svg {
  fill: none;
  stroke: #9197b3;
}

.header-navigation-item:hover > svg,
.header-navigation-item:focus > svg {
  stroke: white;
}
.header-navigation-text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
}

.header-navigation-arrow {
  position: absolute;
  right: 10px;
}

.header-userinfo {
  position: absolute;
  bottom: 78px;
  display: flex;
  gap: 12px;
  align-items: center;
}
.header-userinfo-text {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.12px;
}
.header-userinfo-text-name {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.14px;
}

/* TABLE */

main {
  padding: 40px 10px;
}
.table-mobile {
  display: flex;
  padding: 0 35px;
  margin: 0 auto;
  gap: 20px;
  flex-wrap: wrap;
  width: 320px;
}
@media (min-width: 768px) {
  .table-mobile {
    min-width: 768px;
    gap: 30px;
    justify-content: space-between;
    padding: 0 50px;
  }
}
@media (min-width: 1200px) {
  .table-mobile {
    min-width: 1200px;
    gap: 50px;
    justify-content: flex-start;
  }
}
.table-mobile-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 310px;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
  text-align: left;
  padding: 30px 15px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
@media (min-width: 768px) {
  .table-mobile-item {
    padding: 30px 50px;
  }
}
.table-mobile-item-text {
  color: #787a81;
  text-decoration: underline;
}
.table-wrapper {
  background-color: white;
  border-radius: 16px;
}
@media (min-width: 1240px) {
  .table-wrapper {
    padding: 30px 0 30px 38px;
  }
}
.table-title {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 51px;
}
.table-search {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
@media (min-width: 1440px) {
  .table-search,
  .pagination-wrapper {
    display: flex;
  }
  .table-mobile {
    display: none;
    width: 300px;
  }
  .main {
    padding: 41px 71px 220px 71px;
  }
}
.table-search-title {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: -0.22px;
  margin-bottom: 7px;
}
.table-search-title-green {
  color: #16c098;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.14px;
}
.table-search-input-wrapper {
  position: relative;
  margin-right: 38px;
}
.table-search-input {
  border-radius: 10px;
  background: #f9fbff;
  width: 216px;
  height: 38px;
  border: none;
  padding-left: 40px;
}
.table-search-input-svg {
  fill: none;
  stroke: #757575;
  position: absolute;
  left: 8px;
  top: 7px;
}
.table {
  display: none;
  text-align: left;
  width: 928px;
}
@media (min-width: 1440px) {
  .table {
    display: block;
  }
}
.table-head {
  color: #b5b7c0;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
}
.table-head-line {
  text-align: left;
  display: flex;
  justify-content: space-between;

  width: 932px;
}
th {
  width: 130px;
}
.table-body {
  display: none;
  color: #292d32;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.14px;
  text-align: left;
  position: relative;
}
@media (min-width: 1400px) {
  .table-body {
    display: block;
  }
}
.table-body > tr {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 888px;
  align-items: center;
}
.table-body > tr > th {
  margin: 24px 0;
}
.table-body > tr::after {
  content: '';
  display: block;

  width: 888px;
  height: 1px;
  background-color: rgba(238, 238, 238, 1);
  position: absolute;
  left: 0;
  bottom: 0px;
}
.table-status-active,
.table-status {
  display: flex;
  width: 80px;
  padding: 4px 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid #00b087;
  color: #00b087;
  background: rgba(22, 192, 152, 0.38);
}
.table-status {
  border: 1px solid #df0404;
  color: #df0404;
  background: #ffc5c5;
}
.open {
  display: block;
}
